.card{
    display: flex;
    padding: 2px;
    margin: 3px;
    justify-content: space-between;
    float:left;
}
.erste{
    border: 2px solid red;

}
.den{
display: flex;            
justify-content: center; 
margin-left: 600px;           

}
.er{
    font-family: 'Fascinate', cursive
}